<div id='cssmenu'>
	<ul>
   <li class='active'><a href='/'><span id="header">2 GAMEZ</span></a></li>
   <li class="sign-up"><span>SIGN UP</span></a></li>
   <li class="log-in"><span>LOG IN</span></a></li>
	</ul>
</div>