<div class="keyboard">
	<div class="top-row">
		<button class="btn" type="button">Q</button>
		<button class="btn" type="button">W</button>
		<button class="btn" type="button">E</button>
		<button class="btn" type="button">R</button>
		<button class="btn" type="button">T</button>
		<button class="btn" type="button">Y</button>
		<button class="btn" type="button">U</button>
		<button class="btn" type="button">I</button>
		<button class="btn" type="button">O</button>
		<button class="btn" type="button">P</button>
	</div>

	<div class="mid-row">
		<button class="btn" type="button">A</button>
		<button class="btn" type="button">S</button>
		<button class="btn" type="button">D</button>
		<button class="btn" type="button">F</button>
		<button class="btn" type="button">G</button>
		<button class="btn" type="button">H</button>
		<button class="btn" type="button">J</button>
		<button class="btn" type="button">K</button>
		<button class="btn" type="button">L</button>
	<div>
		
	<div class="bottom-row">
		<button class="btn" type="button">Z</button>
		<button class="btn" type="button">X</button>
		<button class="btn" type="button">C</button>
		<button class="btn" type="button">V</button>
		<button class="btn" type="button">B</button>
		<button class="btn" type="button">N</button>
		<button class="btn" type="button">M</button>
	</div>
</div>