<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>2 Gamez</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
   <script type="text/javascript" src="/javascripts/jquery.js"></script>
   <script type="text/javascript" src="/javascripts/scripts.js"></script>
	
</head>

<body>
	<center>
		<% if session[:current_user] %>
    	<%= erb :'_nav_user' %>
	  <% else %>
			<%= erb :'_nav_non_user' %>
	  <% end %>

	<%= yield %>
</center>
</body>
</html>