<!-- <div class="log-in-form">
	<form action="/sessions" method="post">
		<input type="text" name="user[username]" placeholder="Username">
		<input type="password" name="password" placeholder="Password">
		<input type="submit" value="SIGN UP">
	</form>
</div> -->