<div class="graphic">





</div>


<div class="word" >
<%= @game.state %>
</div>

<%= erb :'partials/_keyboard' %>

<script>


	if (response.mismatch.length >= 5) {
	      alert('You just lost.')
	    }


</script>





